/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/12/2018, 12:12:27 AM
    Author     : HERNAN
*/

* {
  font-size: 12px;
  font-family: 'Courier New';
}/*
*/ 
td,
th,
tr,
table {
  border-top: 1px solid black;
  border-collapse: collapse;
}
 
td.producto,
th.producto {
  width: 200px;
  max-width: 170px;
  word-break: break-all;
}
 
td.cantidad,
th.cantidad {
  width: 90px;
  max-width: 90px;
  word-break: break-all;
}
 
td.precio,
th.precio {
  width: 80px;
  max-width: 80px;
  word-break: break-all;
}
 
.centrado {
  text-align: center;
  align-content: center;
}
.justificado {
  text-align: justify;
 
} 

.ticket {
  width: 273px;
  max-width: 273px;
}
 
img {
/*  max-width: inherit;
  width: inherit;*/
display:block;
margin:auto;
  
}



